modules = ["java-graalvm22.3"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "javac -sourcepath src -d out $(find src -name '*.java' | grep -v 'src/Main.java') && java -cp out AlgorithmsAndDataStructuresBeginners.Main"

[workflows.workflow.metadata]
outputType = "console"
